# Hypothesis Testing on Used Cars Dataset.

In [11]:
# Import required Libraries.

import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# import csv file as dataframe

df = pd.read_csv('CARS_1.csv')

In [13]:
df.shape

(203, 16)

In [14]:
df.head()

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [25]:
# Removing the columns with null value.

cars = df.dropna()
cars.shape

(202, 16)

In [41]:
cars.head()

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

**Null Hypothesis (H0) :**

There is no significant difference in the starting_price between seating_type of car is 5 wheeler or 7 wheeler.

**Alternate Hypothesis (Ha) :**

There is a significant difference in the mean starting_price between seating_type of car is 5 wheeler or 7 wheeler.

In [36]:
# Select two classes for comparison.

class_1 = cars[cars['seating_capacity'] == 5.0]['starting_price']

class_2 = cars[cars['seating_capacity'] == 7.0]['starting_price']

In [35]:
# Define significance level
alpha = 0.05

# Performing two sample t_test.

In [38]:
# Perform two_sample t_test.

from scipy.stats import ttest_ind

# Perform two-sample t-test

t_stat, p_value = ttest_ind(class_1, class_2)

# Divide the p-value by 2 for a one-tailed test
one_tailed_p_value = p_value / 2

In [39]:
# Print the results

print(f'T-statistic: {t_stat}')

print(f'One-tailed P-value: {one_tailed_p_value}')

T-statistic: 0.938359078684405
One-tailed P-value: 0.1747506178332709

In [40]:
# Check the significance
if one_tailed_p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between the two groups.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the two groups.")

Fail to reject the null hypothesis. There is no significant difference between the two groups.